
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, rgb(130, 2, 2), rgb(58, 2, 2), rgb(47, 22, 22));
    margin: 20px;
    color: #333;
}


h1,
h2 {
    text-align: center;
    color: #ffffff;
    font-size: 4rem;
    letter-spacing: 4px;
    font-family: "Indie Flower", sans-serif;

}


.newpostbtn {
    color: #50b4f7;
    border: 0.7px solid rgb(211, 94, 94);
    border-radius: 5px;
    padding: 5px;
    background-color: #333;
    width: 70px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

.viewdetailsbtn {
    color: #2980b9;


    text-decoration: none;
}

.viewdetailsbtn:hover {
    font-size: 20px;
    transition: 400ms;
}


form {
    max-width: 500px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input,
select,
textarea,
button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #2980b9;
    color: white;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #1c5980;
}


.cards {
    display: grid;

}

.post-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 20px white;
    margin-bottom: 15px;
}


.container {
    max-width: 900px;
    margin: auto;
}